# Test session from 12/04/2022 16:28

## Summary:
710 passed, 0 failed in 27 file(s)

## Test file(s):
[array.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\array.dy), [autos.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\autos.dy), [bool.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\bool.dy), [builtins.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\builtins.dy), [char.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\char.dy), [complex.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\complex.dy), [control.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\control.dy), [dictionary.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\dictionary.dy), [exceptions.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\exceptions.dy), [float.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\float.dy), [function.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\function.dy), [integer.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\integer.dy), [iterator.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\iterator.dy), [lazy.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\lazy.dy), [libcore.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\libcore.dy), [libio.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\libio.dy), [match.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\match.dy), [mixin.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\mixin.dy), [modules.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\modules.dy), [nil.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\nil.dy), [operators.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\operators.dy), [ranges.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\ranges.dy), [set.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\set.dy), [string.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\string.dy), [tuple.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\tuple.dy), [types.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\types.dy), [variant.dy](C:\repos\source\Dyalect\feature\Dyalect.UnitTests\Tests\variant.dy)

## Report:

### Tests/array.dy:
* &#9745; **Array literal**
* &#9745; **Constructor**
* &#9745; **Methods: ToString**
* &#9745; **Methods: Clone**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Add, AddRange, Remove, RemoveAt**
* &#9745; **Methods: Add, Clear, Insert, Remove**
* &#9745; **Methods: Slice**
* &#9745; **Methods: Sort**
* &#9745; **Methods: IndexOf, LastIndexOf**
* &#9745; **Methods: Indices**
* &#9745; **Methods: Compact**
* &#9745; **Methods: Len**
* &#9745; **Methods: Empty**
* &#9745; **Methods: Concat**
* &#9745; **Methods: AddRange**
* &#9745; **Methods: InsertRange**
* &#9745; **Methods: Reverse**
* &#9745; **Methods: Reverse 2**
* &#9745; **Methods: Swap**
* &#9745; **Methods: RemoveRangeAt**
* &#9745; **Methods: RemoveRange 1**
* &#9745; **Methods: RemoveRange 2**
* &#9745; **Methods: RemoveAll**
* &#9745; **Methods: static sort 1**
* &#9745; **Methods: static sort 2**
* &#9745; **Range indices**
* &#9745; **Ranges**
* &#9745; **Addition 1**
* &#9745; **Addition 2**
* &#9745; **Insert into empty array**
* &#9745; **Complex sort**
* &#9745; **Methods: copy 1**
* &#9745; **Methods: copy 2**
* &#9745; **Methods: copy 3**
* &#9745; **Methods: copy 4**
* &#9745; **Methods: copy 4**
* &#9745; **Methods: Contains**
* &#9745; **Negative indices**
* &#9745; **Complex equality**
* &#9745; **Conversion: as**
* &#9745; **Methods: ToLiteral**
* &#9745; **Operator in**

### Tests/autos.dy:
* &#9745; **Simple 1**
* &#9745; **Simple 2**
* &#9745; **Simple 3**
* &#9745; **Simple 4**
* &#9745; **Simple 5**
* &#9745; **Autos in functions 1**
* &#9745; **Autos in functions 2**
* &#9745; **Autos in functions 3**
* &#9745; **Autos in functions 4**
* &#9745; **Autos in functions 5**
* &#9745; **Autos and exceptions 1**
* &#9745; **Autos and exceptions 2**
* &#9745; **Autos and exceptions 3**
* &#9745; **Autos and exceptions 4**
* &#9745; **Autos and exceptions 5**
* &#9745; **Autos in catch 1**
* &#9745; **Autos in catch 2**
* &#9745; **Autos in catch 3**

### Tests/bool.dy:
* &#9745; **Constructor**
* &#9745; **Methods: Default**
* &#9745; **Methods: GetType**
* &#9745; **Conversion: as**
* &#9745; **Conversion to itself**

### Tests/builtins.dy:
* &#9745; **parse**
* &#9745; **eval**
* &#9745; **round**
* &#9745; **min**
* &#9745; **max**
* &#9745; **sign**
* &#9745; **sqrt**
* &#9745; **abs**
* &#9745; **rnd**
* &#9745; **pow**
* &#9745; **setOut**
* &#9745; **assert**
* &#9745; **rawget and rawset**
* &#9745; **rawset and read-only**
* &#9745; **constructorName**

### Tests/char.dy:
* &#9745; **Char literal**
* &#9745; **Constructor**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Default**
* &#9745; **Methods: Min and Max**
* &#9745; **Ranges**
* &#9745; **Char comparison**
* &#9745; **Methods: Upper and IsUpper**
* &#9745; **Methods: Lower and IsLower**
* &#9745; **Methods: IsWhitespace**
* &#9745; **Methods: IsControl**
* &#9745; **Methods: IsLetterOrDigit**
* &#9745; **Methods: Order**
* &#9745; **Methods: ToLiteral**
* &#9745; **Math with chars**
* &#9745; **Conversion: as**

### Tests/complex.dy:
* &#9745; **FizzBuzz**
* &#9745; **Factorial**
* &#9745; **Raise to power (recursion)**
* &#9745; **Binary conversion**
* &#9745; **Fibonacci 1**
* &#9745; **Fibonacchi 2**
* &#9745; **Phone parser**
* &#9745; **Calculate E**
* &#9745; **Damm**
* &#9745; **Euler**
* &#9745; **GCD**
* &#9745; **LCM**
* &#9745; **Ackermann function**
* &#9745; **Folding an array**
* &#9745; **Factors of an integer 1**
* &#9745; **Factors of an integer 2**
* &#9745; **Antiprime**
* &#9745; **Names of god**
* &#9745; **Raise to power (cycle)**
* &#9745; **Binary to string conversion**
* &#9745; **Bubb**
* &#9745; **Rot-13**
* &#9745; **Caesar cypher**
* &#9745; **Count coins**
* &#9745; **Consolidation**
* &#9745; **Employee salary**
* &#9745; **Sleeping beauty**
* &#9745; **Complex iterator**

### Tests/control.dy:
* &#9745; **Guards 1**
* &#9745; **Guards 2**
* &#9745; **Guards 3**
* &#9745; **Return from method**
* &#9745; **Cycle: while with break 1**
* &#9745; **Cycle: while with break 2**
* &#9745; **Cycle: Nested while**
* &#9745; **Cycle: do/while 1**
* &#9745; **Cycle: do/while 2**
* &#9745; **Cycle: do/while with break**
* &#9745; **Cycle: do/while with continue**
* &#9745; **Cycle: for 1**
* &#9745; **Cycle: for 2**
* &#9745; **Cycle: for with continue**
* &#9745; **Cycle: for with break**
* &#9745; **Cycle: endless while**

### Tests/dictionary.dy:
* &#9745; **Constructor 1**
* &#9745; **Constructor 2**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Clone**
* &#9745; **Methods: FromTuple**
* &#9745; **Methods: Add**
* &#9745; **Indexing**
* &#9745; **Methods: TryAdd, TryGet**
* &#9745; **Methods: Len, Clear**
* &#9745; **Complex keys**
* &#9745; **Field access**
* &#9745; **Iterator to dictionary**
* &#9745; **Methods: Compact**
* &#9745; **Methods: ToTuple**
* &#9745; **Pattern matching**
* &#9745; **Methods: Contains**
* &#9745; **Methods: ContainsValue**
* &#9745; **Methods: GetAndRemove**
* &#9745; **Conversion: as**
* &#9745; **Operator in**

### Tests/exceptions.dy:
* &#9745; **Type error**
* &#9745; **Simple catch 1**
* &#9745; **Simple catch 2**
* &#9745; **Nested catch 1**
* &#9745; **Catch and throw**
* &#9745; **Nested catch 2**
* &#9745; **Nested catch 3**
* &#9745; **Throwing from functions**
* &#9745; **Catch as an expression**
* &#9745; **Catch and iterators**
* &#9745; **Simple catch 3**
* &#9745; **Pattern matching 1**
* &#9745; **Pattern matching 2**
* &#9745; **External catch 1**
* &#9745; **External catch 2**
* &#9745; **External catch 3**
* &#9745; **Iterators 1**
* &#9745; **Iterators 2**
* &#9745; **Custom type exception**
* &#9745; **Catch chain**
* &#9745; **Fall into correct catch**
* &#9745; **Rethrowing**
* &#9745; **Nested exceptions**
* &#9745; **Multiple throws from catch**
* &#9745; **Throwing 1**
* &#9745; **Throwing 2**
* &#9745; **Throwing 3**
* &#9745; **Throwing 4**
* &#9745; **Throw from override**
* &#9745; **Data items**

### Tests/float.dy:
* &#9745; **Float literal**
* &#9745; **Methods: Min and Max**
* &#9745; **Methods: Inf and IsNaN**
* &#9745; **Constructor**
* &#9745; **Methods: Default**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Parse**
* &#9745; **Ranges**
* &#9745; **Conversion: as**

### Tests/function.dy:
* &#9745; **Methods: ToString**
* &#9745; **Methods: Clone**
* &#9745; **Base variable 1**
* &#9745; **Base variable 2**
* &#9745; **Composition 1**
* &#9745; **Composition 2**
* &#9745; **Methods: GetType**
* &#9745; **Properties**
* &#9745; **Tail recursion 1**
* &#9745; **Tail recursion 2**
* &#9745; **Tail recursion 3**
* &#9745; **Recursion 1**
* &#9745; **Recursion 2**
* &#9745; **Call**
* &#9745; **Call with named arguments 1**
* &#9745; **Call with named arguments 2**
* &#9745; **Call with optional arguments**
* &#9745; **Variadic call 1**
* &#9745; **Curried function**
* &#9745; **Flip**
* &#9745; **Variadic call 2**
* &#9745; **Variadic call 3**
* &#9745; **Identity function**
* &#9745; **Caller and current**
* &#9745; **Function info**
* &#9745; **Call chain 1**
* &#9745; **Anonymous function name**
* &#9745; **Call chain 2**
* &#9745; **Complex variadic**
* &#9745; **Variadic arguments to string**
* &#9745; **Variadic and optional**
* &#9745; **Method: toString 1**
* &#9745; **Method: toString 2**
* &#9745; **Method: addition 1**
* &#9745; **Method: addition 2**
* &#9745; **Method: GetItem**
* &#9745; **Closures**
* &#9745; **Parameter order 1**
* &#9745; **Parameter defaults 1**
* &#9745; **Parameter defaults 2**
* &#9745; **Parameters and exceptions**
* &#9745; **Introspection**
* &#9745; **Expression bodied functions**
* &#9745; **Defaults and foreign call 1**
* &#9745; **Defaults and foreign call 2**
* &#9745; **Defaults and foreign call 3**
* &#9745; **Defaults and foreign call 4**
* &#9745; **Defaults and foreign call 5**
* &#9745; **External call**
* &#9745; **Type annotations 1**
* &#9745; **Type annotations 2**
* &#9745; **Type annotations 3**
* &#9745; **Complex type annotations 1**
* &#9745; **Complex type annotations 2**
* &#9745; **Mutual recursion 1**
* &#9745; **Mutual recursion 2**
* &#9745; **Invalid overload (builtins)**
* &#9745; **Invalid overload (custom)**
* &#9745; **Conversion: as**
* &#9745; **Complex definition 1**
* &#9745; **Parameterless lambda 1**
* &#9745; **Parameterless lambda 2**
* &#9745; **Parameterless lambda 2**
* &#9745; **Parameterless lambda 3**
* &#9745; **Parameterless lambda 4**
* &#9745; **Methods: Apply**
* &#9745; **Right pipe 1**
* &#9745; **Right pipe 2**
* &#9745; **Left pipe 1**
* &#9745; **Left pipe 2**
* &#9745; **Complex nesting**
* &#9745; **Varargs and too many arguments**
* &#9745; **Vararg and mutable tuple**

### Tests/integer.dy:
* &#9745; **Integer literal**
* &#9745; **Methods: Min and Max**
* &#9745; **Constructor**
* &#9745; **Methods: Default**
* &#9745; **Methods: GetType**
* &#9745; **Methods: IsMultiple**
* &#9745; **Methods: Parse**
* &#9745; **Ranges**
* &#9745; **Conversion: as**

### Tests/iterator.dy:
* &#9745; **Iterator literal**
* &#9745; **Constructor**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Clone**
* &#9745; **Methods: Len**
* &#9745; **Variable capture**
* &#9745; **Methods: First, Last, Len**
* &#9745; **Iterator as argument**
* &#9745; **Iterator function**
* &#9745; **Running iterator 1**
* &#9745; **Running iterator 2**
* &#9745; **Running iterator 3**
* &#9745; **Running iterator 4**
* &#9745; **Running iterator 5**
* &#9745; **Iterator as method**
* &#9745; **Breaking iteration**
* &#9745; **Methods: Concat**
* &#9745; **Yield many 1**
* &#9745; **Yield many 2**
* &#9745; **Yield many 3**
* &#9745; **Yield many 4**
* &#9745; **Yield many 5**
* &#9745; **Methods: Take**
* &#9745; **Methods: Skip**
* &#9745; **Methods: Last**
* &#9745; **Iterator and exception**
* &#9745; **Yield break**
* &#9745; **Slicing**
* &#9745; **Iterator and range**
* &#9745; **Iterator state 1**
* &#9745; **Methods: Element**
* &#9745; **Methods: Empty**
* &#9745; **Methods: Repeat 1**
* &#9745; **Methods: repeat 2**
* &#9745; **Iterator state 2**
* &#9745; **Methods: reverse**
* &#9745; **Methods: sort 1**
* &#9745; **Methods: sort 2**
* &#9745; **Methods: Shuffle**
* &#9745; **Methods: Count**
* &#9745; **Methods: Map**
* &#9745; **Methods: Map**
* &#9745; **Methods: Filter**
* &#9745; **Methods: TakeWhile**
* &#9745; **Methods: SkipWhile**
* &#9745; **Methods: Reduce**
* &#9745; **Methods: ToDictionary 1**
* &#9745; **Methods: ToDictionary 2**
* &#9745; **Empty sequence**
* &#9745; **Pattern match**
* &#9745; **Methods: Any**
* &#9745; **Methods: all**
* &#9745; **Methods: Contains**

### Tests/lazy.dy:
* &#9745; **Type info**
* &#9745; **Simple 1**
* &#9745; **Simple 2**
* &#9745; **Simple 3**
* &#9745; **Methods: ToString**
* &#9745; **Methods: IsNaN**
* &#9745; **Conversion to boolean**
* &#9745; **Math**
* &#9745; **Invoke members**
* &#9745; **Lazy arrays**
* &#9745; **Lazy tuples**
* &#9745; **Lazy strings**
* &#9745; **Lazy custom type**
* &#9745; **Lazy and operator overloading**
* &#9745; **Lazy indexers**
* &#9745; **Lazy properties**
* &#9745; **Lazy exceptions**
* &#9745; **Convert lazy**
* &#9745; **Overloaded operators**

### Tests/libcore.dy:
* &#9745; **StringBuilder: GetType**
* &#9745; **StringBuilder: Append, AppendLine**
* &#9745; **StringBuilder: Constructor, Length**
* &#9745; **StringBuilder: Insert**
* &#9745; **StringBuilder: Replace**
* &#9745; **Result: GetType**
* &#9745; **Result: Length and indexer**
* &#9745; **Result: matching 1**
* &#9745; **Result: matching 2**
* &#9745; **Guid: GetType**
* &#9745; **Guid: Parse**
* &#9745; **Guid: ToByteArray**
* &#9745; **Guid: FromByteArray**
* &#9745; **Guid: Empty, Default**
* &#9745; **Guid and Dictionary**
* &#9745; **Regex: GetType**
* &#9745; **Regex: Match 1**
* &#9745; **Regex: Match 2**
* &#9745; **Regex: Matches 1**
* &#9745; **Regex: Matches 2**
* &#9745; **Regex: Replace 1**
* &#9745; **Regex: Replace 2**
* &#9745; **Regex: Split**
* &#9745; **Regex: IsMatch**
* &#9745; **ByteArray: GetType**
* &#9745; **ByteArray: read and write**
* &#9745; **TimeDelta: GetType**
* &#9745; **TimeDelta: construction**
* &#9745; **TimeDelta: math**
* &#9745; **TimeDelta: equality**
* &#9745; **TimeDelta: comparison**
* &#9745; **TimeDelta: casting**
* &#9745; **TimeDelta: ToString**
* &#9745; **TimeDelta: Min, Max, Default**
* &#9745; **TimeDelta: Parse**
* &#9745; **DateTime: GetType**
* &#9745; **DateTime: Min, Max and Default**
* &#9745; **DateTime: construction**
* &#9745; **DateTime: DayOfWeek**
* &#9745; **DateTime: Ticks**
* &#9745; **DateTime: FromTicks**
* &#9745; **DateTime: Parse**
* &#9745; **DateTime: ToString**
* &#9745; **DateTime: Add**
* &#9745; **DateTime: math**
* &#9745; **DateTime: comparison**
* &#9745; **LocalDateTime: GetType**
* &#9745; **LocalDateTime: ToString**
* &#9745; **LocalDateTime: LocalOffset**
* &#9745; **LocalDateTime: Parse**
* &#9745; **LocalDateTime: FromTicks**
* &#9745; **LocalDateTime: LocalOffset**
* &#9745; **LocalDateTime: FromDateTime**
* &#9745; **Calendar: GetType**
* &#9745; **Calendar: DaysInMonth**
* &#9745; **Calendar: IsLeapYear and DaysInYear**
* &#9745; **Calendar: FirstDayOfMonth**
* &#9745; **Calendar: LastDayOfMonth**

### Tests/libio.dy:
* &#9745; **File: GetType**
* &#9745; **File: Exists**
* &#9745; **File: ReadText**
* &#9745; **File: ReadLines**
* &#9745; **File: Create and Delete**
* &#9745; **File: Copy**
* &#9745; **File: Move**
* &#9745; **Path: GetType**
* &#9745; **Path: GetDirectory**
* &#9745; **Path: GetExtension**
* &#9745; **Path: GetFileName**
* &#9745; **Path: GetFileNameWithoutExtension**
* &#9745; **Path: GetPathRoot**
* &#9745; **Path: Combine**
* &#9745; **Path: Exists**
* &#9745; **Path: EnumerateFiles 1**
* &#9745; **Path: EnumerateFiles 2**
* &#9745; **Path: EnumerateDirectories**
* &#9745; **Directory: GetType**
* &#9745; **Directory: Exists**
* &#9745; **Directory: Create and Delete**
* &#9745; **Drive: GetType**
* &#9745; **Drive: GetDrives**
* &#9745; **Drive: properties**

### Tests/match.dy:
* &#9745; **Patterns: tuple**
* &#9745; **Patterns: tuple, array**
* &#9745; **Patterns: tuple, array, type**
* &#9745; **Guards 1**
* &#9745; **Patterns: type test**
* &#9745; **Patterns: or**
* &#9745; **Patterns: array with guards**
* &#9745; **Patterns: record 1**
* &#9745; **Patterns: record 2**
* &#9745; **Match range**
* &#9745; **Patterns: and 1**
* &#9745; **Guards 2**
* &#9745; **Patterns: and 2**
* &#9745; **Patterns: nil**
* &#9745; **Patterns: record 3**
* &#9745; **Pattern in cycle 1**
* &#9745; **Pattern in cycle 2**
* &#9745; **Pattern in cycle 3**
* &#9745; **Pattern in cycle 4**
* &#9745; **Pattern in cycle 5**
* &#9745; **Patterns: range 1**
* &#9745; **Patterns: range 2**
* &#9745; **Patterns: member check 3**
* &#9745; **Patterns: member check 2**
* &#9745; **Patterns: member check 3**
* &#9745; **Match in set 1**
* &#9745; **Match in set 2**
* &#9745; **Match and exception 1**
* &#9745; **Match in set 3**
* &#9745; **Match in var 1**
* &#9745; **Match in var 2**
* &#9745; **Match in var 3**
* &#9745; **Match in var 4**
* &#9745; **Match and exception 2**
* &#9745; **Match in let 1**
* &#9745; **Match in let 2**
* &#9745; **Match as an expression**
* &#9745; **Match in let 3**
* &#9745; **Match in is 1**
* &#9745; **Match in is 2**
* &#9745; **Match in is 3**
* &#9745; **Match in is 4**
* &#9745; **Match in is 5**
* &#9745; **Custom type check**
* &#9745; **Match in for with guard**
* &#9745; **Match in let 4**
* &#9745; **Match in let 5**
* &#9745; **Match in let 6**
* &#9745; **Patterns: not**
* &#9745; **Patterns: comparison**

### Tests/mixin.dy:
* &#9745; **Number**
* &#9745; **Number: GetType**
* &#9745; **Collection**
* &#9745; **Collection: GetType**
* &#9745; **Comparable**
* &#9745; **Comparable: GetType**
* &#9745; **Object: GetType**
* &#9745; **Custom type**
* &#9745; **Closed type**
* &#9745; **Multiple mixins**
* &#9745; **Mixin with operators**
* &#9745; **Implement Collection**

### Tests/modules.dy:
* &#9745; **Methods: Clone**
* &#9745; **Methods: GetType**
* &#9745; **Member access 1**
* &#9745; **Member access 2**
* &#9745; **Match module**
* &#9745; **Match module using is**
* &#9745; **Qualification 1**
* &#9745; **Qualification 2**
* &#9745; **Module as tuple 1**
* &#9745; **Module as tuple 2**
* &#9745; **Types from module**
* &#9745; **Types from module (qual)**
* &#9745; **Extending external type**
* &#9745; **Extending external type (qual)**
* &#9745; **External type name**
* &#9745; **External type name (qual)**
* &#9745; **Constants**
* &#9745; **Iterating module**
* &#9745; **Match external type**
* &#9745; **Test external type**

### Tests/nil.dy:
* &#9745; **Literal and initialization**
* &#9745; **Constructor**
* &#9745; **Methods: default**
* &#9745; **Methods: GetType**
* &#9745; **Conversion: as**

### Tests/operators.dy:
* &#9745; **Simple math**
* &#9745; **Float math 1**
* &#9745; **Float math 2**
* &#9745; **Math with formatting**
* &#9745; **Math with unary**
* &#9745; **Inf**
* &#9745; **NaN**
* &#9745; **Logical Or**
* &#9745; **Logical And**
* &#9745; **Comparison**
* &#9745; **Comparison and coersion**
* &#9745; **Comparison and bool**
* &#9745; **Function comparison**
* &#9745; **Coalesce**
* &#9745; **Member check 1**
* &#9745; **nameof**
* &#9745; **Has 1**
* &#9745; **Has 2**
* &#9745; **Has 3**
* &#9745; **Ternary**
* &#9745; **Unary minus**
* &#9745; **In 1**
* &#9745; **In 2**
* &#9745; **As**

### Tests/ranges.dy:
* &#9745; **Simple range**
* &#9745; **Range with a step**
* &#9745; **Range in cycle**
* &#9745; **Char range**
* &#9745; **Range as a statement**
* &#9745; **Range and take**
* &#9745; **String range**
* &#9745; **Slicing 1**
* &#9745; **Slicing 2**
* &#9745; **Slicing 3**
* &#9745; **Slicing 4**
* &#9745; **Exclusive range**

### Tests/set.dy:
* &#9745; **Constructor**
* &#9745; **Methods: Clone**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Add, Len**
* &#9745; **Methods: Add, Remove**
* &#9745; **Methods: Add, Clear, Contains**
* &#9745; **Methods: ToArray, ToTuple**
* &#9745; **Equality test**
* &#9745; **Methods: IntersectWith**
* &#9745; **Methods: UnionWith**
* &#9745; **Methods: ExceptOf**
* &#9745; **Methods: OverlapsWith**
* &#9745; **Methods: IsSubsetOf**
* &#9745; **Methods: IsSupersetOf**
* &#9745; **Methods: ToString**
* &#9745; **Conversion: as**
* &#9745; **Operator in**

### Tests/string.dy:
* &#9745; **String literal**
* &#9745; **Constructor**
* &#9745; **Methods: Default**
* &#9745; **Methods: GetType**
* &#9745; **Methods: Length**
* &#9745; **Methods: IndexOf, LastIndexOf**
* &#9745; **Comparison**
* &#9745; **Methods: Split**
* &#9745; **Addition**
* &#9745; **Methods: Lower, Upper**
* &#9745; **Methods: StartsWith, EndsWith**
* &#9745; **Methods: Substring**
* &#9745; **Methods: Capitalize**
* &#9745; **Methods: Concat**
* &#9745; **Methods: Contains**
* &#9745; **Methods: Trim, TrimStart, TrimEnd**
* &#9745; **Methods: IsEmpty**
* &#9745; **Indexing**
* &#9745; **Slicing**
* &#9745; **Methods: Join**
* &#9745; **Methods: PadLeft, PadRight**
* &#9745; **Methods: Replace**
* &#9745; **Methods: Remove**
* &#9745; **Methods: Repeat**
* &#9745; **Methods: Reverse**
* &#9745; **Multiline string 1**
* &#9745; **Multiline string 2**
* &#9745; **Interpolation 1**
* &#9745; **Interpolation 2**
* &#9745; **Interpolation 3**
* &#9745; **Concatenation 1**
* &#9745; **Concatenation 2**
* &#9745; **Methods: ToCharArray**
* &#9745; **Methods: Repeat**
* &#9745; **Methods: ToLiteral**
* &#9745; **Conversion: as**
* &#9745; **Format 1**
* &#9745; **Format 2**
* &#9745; **Operator in**

### Tests/tuple.dy:
* &#9745; **Methods: ToString**
* &#9745; **Methods: Clone**
* &#9745; **Methods: GetType**
* &#9745; **Tuple literal 1**
* &#9745; **Tuple literal 2**
* &#9745; **Methods: Len**
* &#9745; **Field access**
* &#9745; **Methods: Keys**
* &#9745; **Methods: Indices**
* &#9745; **Methods: First, Second**
* &#9745; **Equality**
* &#9745; **Constructor**
* &#9745; **Methods: Slice**
* &#9745; **Methods: ToTuple**
* &#9745; **Methods: Sort**
* &#9745; **Methods: static sort**
* &#9745; **Single element tuple**
* &#9745; **Negative indices**
* &#9745; **Methods: Add**
* &#9745; **Methods: Remove**
* &#9745; **Methods: RemoveAt**
* &#9745; **Methods: Insert**
* &#9745; **Addition 1**
* &#9745; **Addition 2**
* &#9745; **Methods: Concat**
* &#9745; **Ranges**
* &#9745; **Mutable tuples 1**
* &#9745; **Mutable tuples 2**
* &#9745; **Mutable tuples 3**
* &#9745; **Methods: ToString (mutable)**
* &#9745; **Methods: ToDictionary**
* &#9745; **Methods: Contains**
* &#9745; **Methods: ToLiteral**
* &#9745; **Methods: Compact**
* &#9745; **Exceptions with tuples**
* &#9745; **Conversion: as**
* &#9745; **Tuple as argument**
* &#9745; **Comparison 1**
* &#9745; **Comparison 2**
* &#9745; **Operator in**
* &#9745; **Variadic function and labels**

### Tests/types.dy:
* &#9745; **Methods: GetType**
* &#9745; **Methods: Clone**
* &#9745; **Methods: ToString**
* &#9745; **Generated members**
* &#9745; **Empty variant**
* &#9745; **Multiple productions**
* &#9745; **Pattern match 1**
* &#9745; **Extending type 1**
* &#9745; **Maybe or Some**
* &#9745; **Pattern match 2**
* &#9745; **Point variant**
* &#9745; **Natural number 1**
* &#9745; **Either**
* &#9745; **Reference cell**
* &#9745; **Linked list**
* &#9745; **Generate linked list**
* &#9745; **Custom toString**
* &#9745; **Record**
* &#9745; **Read-only fields**
* &#9745; **Default values**
* &#9745; **Mutable Point**
* &#9745; **Member check 1**
* &#9745; **Member check 2**
* &#9745; **Member check 3**
* &#9745; **Callable type 1**
* &#9745; **Callable type 2**
* &#9745; **Pattern match: is**
* &#9745; **Pattern match: inside method**
* &#9745; **String builder**
* &#9745; **Natural number 2**
* &#9745; **Mutable variant 1**
* &#9745; **Mutable variant 2**
* &#9745; **Custom constructor with constraints**
* &#9745; **Variant members**
* &#9745; **Properties 1**
* &#9745; **Properties 2**
* &#9745; **Custom conversion**
* &#9745; **Type annotations 1**
* &#9745; **Type annotations 2**
* &#9745; **Type annotations 3**
* &#9745; **Type annotations 4**
* &#9745; **Initialization blocks 1**
* &#9745; **Initialization blocks 2**
* &#9745; **Custom fields and pattern matching**

### Tests/variant.dy:
* &#9745; **Literal**
* &#9745; **Methods: GetType**
* &#9745; **Methods: ToString, ToLiteral**
* &#9745; **Methods: Length**
* &#9745; **Equality**
* &#9745; **Conversion (as)**
* &#9745; **Pass as value**
* &#9745; **Pattern matching 1**
* &#9745; **Pattern matching 2**
* &#9745; **Mutable variant**

